@font-face {
	font-family: "Gilroy ExtraBold";
	src: url("fonts/gilroyextrabold.woff2") format("woff2"),
	     local("Gilroy-ExtraBold");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Gilroy Light";
	src: url("fonts/gilroylight.woff2") format("woff2"),
	     local("Gilroy-Light");
	font-style: normal;
	font-weight: 400;
}

}
@font-face {
	font-family: "Open Sans";
	src: url("fonts/opensans.woff2") format("woff2"),
	     local("OpenSans");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Light";
	src: url("fonts/opensanslight.woff2") format("woff2"),
	     local("OpenSans-Light");
	font-style: normal;
	font-weight: 300;
}

*, *::before, *::after {
  box-sizing: inherit;  
}

html {  
  box-sizing: border-box;  
}

.content-box-component {
  box-sizing: content-box; 
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);   
}

header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;  
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgb(247, 226, 150);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.1s linear;  
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;  
  margin: 0 auto;
  padding: 0 140px 185px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;	
  font-size: 48px;
  line-height: 48px;    
}

.header-logo:hover,
.header-logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Поле "Найти"-----*/
.search-form {
  width: 50%;     
  display: flex;  
}


.search-form input[type="text"] {  
  color: rgb(0, 0, 0);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;  
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-color: transparent;
  padding: 10px 40px;  
  width: 355px;
  border: 2px solid transparent;
  transition: all 0.1s linear;  
}

/*Для Chrome работает без ::-webkit-input-placeholder. На Opera/Safari не проверялось*/
.search-form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.3);  
}

 /*Загуглил для IE 10+*/
.search-form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3); 
}
 
 /*Firefox 18-*/
.search-form :-moz-placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

/*Firefox 19+*/
.search-form ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);  
} 

.search-form input[type="text"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form:hover :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);  
}

.search-form:hover :-moz-placeholder {
  color: rgba(0, 0, 0, 0.6); 
}

.search-form:hover ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);  
} 

/*-----Кнопка "Найти"-----*/
.search-form input[type="submit"] { 
  color: rgb(0, 0, 0);
  
  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;   
  padding: 10px 20px; 
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.1s linear;  
  cursor: pointer;
  display: none;
}

.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);     	
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0);  
}

.search-form input[type="text"]:focus {
  border-bottom: 2px solid black; 
  outline: none;
}

.search-form input[type="text"]:focus ~ input[type="submit"] {
  display: flex;
}

.btn-style {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;  
  vertical-align: middle;
  transition: all 0.1s linear;
  cursor: pointer;
}

.menu-list,
.user-navigation,
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0; 	
}

/*-----Отсюда пошел верхний контейнер хедера-----*/
.header-top,
.header-middle {  
  display: flex;
  /*margin: 0 -20px;*/
  justify-content: space-between;  
}

.header-top .user-navigation,
.header-middle nav {
  width: 50%;
  padding-left: 20px;  
}

.header-top .user-navigation,
.header-middle .site-navigation {
  display: flex;  
  justify-content: space-between;      
}

.header-top .user-navigation li:first-child {
  margin-right: auto;   
}

.header-top .user-navigation li:last-child {
  margin-left: 41px;   
}

.header-middle .site-navigation li:first-child {
  margin-right: 35px;  
}

.header-middle .site-navigation li:last-child {
  margin-left: auto;
}

/*-----Хедер(Войти, Сравнить, Корзина)-----*/
.header-top .login-link,
.header-top .user-compare,
.header-top .user-order {
  position: relative;    
}

.header-top .login-link a {
  padding-left: 27px;
}

/*-----Хедер(Войти)-----*/
.header-top .login-link::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;

  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.header-top .login-link:hover::before,
.header-top .login-link:focus::before {
  opacity: 0.6;
}

.header-top .login-link:active::before {
  opacity: 0.3;
}

/*-----Хедер(Сравнить)-----*/
.header-top .user-compare a {
  padding-left: 20px;
}

.header-top .user-compare::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 9px;

  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.header-top .user-compare:hover::before,
.header-top .user-compare:focus::before {
  opacity: 0.6;
}

.header-top .user-compare:active::before {
  opacity: 0.3;
}

/*-----Хедер(Корзина)-----*/
.header-top .user-order a {
 padding-left: 24px;
}

.header-top .user-order::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.header-top .user-order:hover::before,
.header-top .user-order:focus::before {
  opacity: 0.6;
}

.header-top .user-order:active::before {
  opacity: 0.3;
}

.menu-catalog {
  width: 50%;
  /*padding: 0 20px;*/  
}

.menu-title {
  color: rgb(0, 0, 0);
  
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.menu-title a {  
  position: relative; 
}

.menu-title a::after {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  margin-left: 16px; 

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.menu-list {
  height: 135px;
  display: flex;
  flex-direction: column;  
  flex-wrap: wrap;   
}

.menu-list li {
  width: 20%;
  margin-bottom: 15px;  
   
  outline: 1px solid black;
}

.menu-title a:hover,
.menu-title a:focus,
.menu-list a:hover,
.menu-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);  	
}

.menu-title a:active,
.menu-list a:active,
.user-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошел блок популярных товаров-----*/
.popular-list {
  list-style: none;
  margin: 0;
  padding: 0; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  outline: 1px solid black;
}

.popular-wrap { 
  width: 160px;           
  background-color: rgb(247, 226, 150);
  
  margin-bottom: 35px;
  transition: all 0.1s linear;  
}

.popular-1 img {
  margin-top: 52px;
  margin-bottom: 53px;
  margin-left: 31px;
  margin-right: 32px;
  transition: all 0.1s linear;      
}

.popular-2 img {
  margin-top: 41px;
  margin-bottom: 2px;
  margin-left: 38px;
  margin-right: 36px;
  transition: all 0.1s linear;
}

.popular-3 img {
  margin-top: 38px;
  margin-bottom: 35px;
  margin-left: 49px;
  margin-right: 40px;
  transition: all 0.1s linear; 
}

.popular-4 img {
  margin-top: 50px;
  margin-bottom: 45px;
  margin-left: 28px;
  margin-right: 25px;
  transition: all 0.1s linear;
}

.popular-5 img {
  margin-top: 32px;
  margin-bottom: 30px;
  margin-left: 55px;
  margin-right: 49px;
  transition: all 0.1s linear;
}

.popular-6 img {
  margin-top: 49px;
  margin-bottom: 42px;
  margin-left: 13px;
  margin-right: 15px;
  transition: all 0.1s linear;
}

.popular-1:hover .popular-wrap,
.popular-1:focus .popular-wrap,
.popular-2:hover .popular-wrap,
.popular-2:focus .popular-wrap,
.popular-3:hover .popular-wrap,
.popular-3:focus .popular-wrap,
.popular-4:hover .popular-wrap,
.popular-4:focus .popular-wrap,
.popular-5:hover .popular-wrap,
.popular-5:focus .popular-wrap,
.popular-6:hover .popular-wrap,
.popular-6:focus .popular-wrap {
  background-color: rgb(247, 197, 46);
}

.popular-1:active .popular-wrap img,
.popular-2:active .popular-wrap img,
.popular-3:active .popular-wrap img,
.popular-4:active .popular-wrap img,
.popular-5:active .popular-wrap img,
.popular-6:active .popular-wrap img {
  opacity: 0.3;
}

.popular-title { 
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  outline: 1px solid black;
  width: 160px;
  margin: 0;
  padding: 0;  
}

/*-----Отсюда пошел основной слайдер-----*/

.slider-main-container {  
  width: 1160px;
  margin: 0 auto;  
}

.slider-main-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /*display: flex;
  justify-content: flex-end;*/

}

.slider-main-wrap {
  display: flex;
  justify-content: flex-end;

}

.slider-main-item {
  display: none;
}

.slider-main-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /*display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 1px solid black; 

  width: 500px;*/ 
}


.slider-main-item:nth-child(1) {
  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*.slider-main-item:nth-child(2) {
  background-image: url(../img/slider-2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

/*.slider-main-item:nth-child(3) {
  background-image: url(../img/slider-3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.slider-main {
  position: relative;
  background-color: #eeeeee;
}

.slider-main-item h3 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 56px;

  margin: 0;
  padding: 0;
}

.slider-main-item p {
  color: rgb(0, 0, 0);

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;

  margin: 0;
  padding: 0;
}

.slide-button {
  display: inline-block;
  position: relative;  
  padding: 11px 44px;
  z-index: 0;

  outline: 1px solid black;  
}

.slide-button::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 19px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;
  
  background-color: rgb(240, 197, 46);

}

.slide-button:hover::before,
.slide-button:focus::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.slide-button:active {
  color: rgba(0, 0, 0, 0.3);   
} 

.slide-item-features .feature {
  color: rgb(0, 0, 0);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;

}

.slide-item-features .title {
  color: rgb(0, 0, 0);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.slide-item-features {
  display: flex; 

  outline: 1px solid black;
}

.slide-item-features .description {
  margin-right: 80px;
}

.slide-item-features .description:last-child {
 margin-right: auto;
}

.slider-main-controls label {
  position: relative;

  display: inline-block;
  width: 12px;  
  height: 12px;
  border: 1px solid black;
   
  background-color: white;

  cursor: pointer;
}

.slider-main-controls {
  position: absolute;

  left: 50%;
  bottom: 82px;

  width: 100px;
  height: 18px;
  outline: 1px solid black;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
  
}

/*-----Отсюда пошел 2й слайдер, слайдер сервисов-----*/
.slider-services {
 margin: 0;
 padding: 0;
 background-color: rgb(229, 229, 229);   
}

.slider-container {
  color: rgb(0, 0, 0);  
  display: flex; 
  justify-content: space-between;  
  /*margin-bottom: 70px;*/  
  width: 1160px;
  margin: 0 auto;
  position: relative;  
  top: -120px;
}

.slider-services h3 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 36px;   
}

.slider-services-decoration-line {
  width: 7px; 
  background-color: rgb(0, 0, 0);
}

.slider-controls {
  margin: 0;  
  width: 277px;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;     
}

.slider-list {
  margin: 0;
  padding: 0;
  width: 876px;
  list-style: none;
  padding-left: 116px;  
  display: flex;    
}

.slider-item img {  
  outline: 1px solid black;
}

.slide-wrap {
  width: 460px;
  margin: 0;
  margin-right: 100px;
  margin-top: 87px;
  outline: 1px solid black;   
}

.slider-delivery,
.slider-warranty,
.slider-credit {  
  position: relative;  
  z-index: 0;
  margin-bottom: 35px;
  transition: all 0.1s linear;
  width: 160px;
  display: flex;
  justify-content: center;
  padding: 14px 0;
  outline: 1px solid black;      
}

.slider-delivery {
  /*padding-left: 23px;*/
  margin-top: 94px;  
}

.slider-warranty { 
  /*padding: 14px 25px;  */
}

.slider-credit {
  /*padding: 14px 38px;*/
  margin-bottom: 74px;
}

.slider-delivery::before,
.slider-warranty::before,
.slider-credit::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 22px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;  
  
  background-color: rgb(240, 197, 46);
}

.slider-delivery:hover::before,
.slider-delivery:focus::before,
.slider-warranty:hover::before,
.slider-warranty:focus::before,
.slider-credit:hover::before,
.slider-credit:focus::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.services-slide {
  display: none;
}

#service-1:checked ~ .slider-list #services-slide1,
#service-2:checked ~ .slider-list #services-slide2,
#service-3:checked ~ .slider-list #services-slide3 {
  display: flex;  
}

#service-1:checked  ~ .slider-controls .slider-delivery {
  /*padding: 14px 25px;*/
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;    
}

#service-1:checked ~ .slider-controls .slider-delivery::before {
  background-color: rgb(0, 0, 0);
}

#service-2:checked  ~ .slider-controls .slider-warranty {
  /*padding: 14px 25px;*/
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;  
}

#service-2:checked  ~ .slider-controls .slider-warranty::before {
  background-color: rgb(0, 0, 0);
}

#service-3:checked ~ .slider-controls .slider-credit {
  /*padding: 14px 38px;*/
  color: rgb(247, 225,132);
  background-color: rgb(0, 0, 0);
  width: 277px;  
}

#service-3:checked ~ .slider-controls .slider-credit::before {
  background-color: rgb(0, 0, 0);
}

/*-----Отсюда пошел блок представляемых брендов-----*/
.brands { 
 margin: 0 auto; 
 /*margin-bottom: 94px;*/
 outline: 1px solid black;
}

.brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.brands-list a {  
  opacity: 0.2;
  -webkit-filter: grayscale(100%); 
  -webkit-filter: grayscale(1); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter: grayscale(100%); 
  filter: gray;
  transition: all 0.1s linear;   
}

.brands-list a:hover,
.brands-list a:focus {
  opacity: 1;
  -webkit-filter: none; 
  -webkit-filter: none; 
  -moz-filter: none; 
  -ms-filter: none; 
  -o-filter: none; 
  filter: none; 
  filter: none;  
}

/*-----Отсюда пошли блоки "О нас" + "Контакты"-----*/
.index-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}

.about-us {
  width: 460px;
  outline: 1px solid black;
  padding-bottom: 9px;
}

.address-map {
  width: 560px;
  outline: 1px solid black;
  padding-bottom: 9px;  
}

.address-map p {
  color: rgb(70, 70, 70);  
}

.decoration-line {
  max-width: 80px;
  min-height: 7px;
  background-color: rgb(0, 0, 0);
}

.about-us h2,
.address-map h2 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 47px;
  line-height: 48px;
}

.about-us p {
  color: rgb(70, 70, 70);  
}

.transport-partnership {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  list-style-type: none;
  padding-left: 35px;
  margin-bottom: 82px;    
}

.transport-partnership li { 
  outline: 1px solid black; 
}

.transport-partnership li {  
  position: relative;  
}

.transport-partnership li::before {
  content: ""; 

  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: -39px;  

  background-image: url(../img/slider-button-gray.svg);
  background-repeat: no-repeat;
  background-position: 0 0;    
}

.transport-partnership a:hover,
.transport-partnership a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.transport-partnership a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошли стили iframe GoogleMaps-----*/
.address-map img {
  margin-bottom: 78px;
  cursor: pointer;
}

.popup-show {
  display: block;
}

.address-map .map-popup {
  color: rgb(0, 0, 0);
  position: fixed;

  top: 5%;
  margin-left: -480px;
  left: 50%;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  
  width: 960px;
  height: 559px;    
}

.map-popup iframe {  
  width: 960px;
  height: 559px;
  border: 0;  
}

.map-close {
  position: absolute;
  top: 40px;
  right: 12px;

  width: 55px;
  height: 55px;

  font-size: 0;
  border: 0;  
  background-image: url(../img/modal-close.svg); 
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: all 0.1s linear;
  cursor: pointer; 
}

.map-close:hover,
.map-close:focus {
  opacity: 1;
  outline: none;  
}

.map-close:active {
  opacity: 0.3;
  outline: none;  
}

/*-----Кнопки "Подробнее" и "Напишите нам"-----*/
.about-us-btn:active,
.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-us-btn,
.write-us-btn {
  outline: 1px solid black;
  position: relative;
  padding: 11px 23px;
  z-index: 0;      
}

.about-us-btn::before,
.write-us-btn::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 18px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;
  
  background-color: rgb(240, 197, 46);      
}

.about-us-btn:hover::before,
.about-us-btn:focus::before,
.write-us-btn:hover::before,
.write-us-btn:focus::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.about-us-btn:active,
.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Отсюда пошел футер-----*/
footer {
  background-color: rgb(70, 70, 70);
}
/*-----Отсюда пошли контейнеры футера-----*/
.footer-top,
.footer-top .user-navigation,
.footer-middle,
.footer-middle .site-navigation,
.footer-bottom,
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;       
}

.footer-top .user-navigation li {
  margin-right: 65px;  
}

.footer-top .user-navigation li:last-child {
  margin-right: 0; 
}

.footer-middle .site-navigation li {  
  margin-right: 35px;    
}

.footer-middle .site-navigation li:last-child {
  margin-right: 0; 
}

.footer-logo {
  color: rgb(255, 198, 0);
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 198, 0, 0.6);    
}

.footer-logo:active {
  color: rgba(255, 198, 0, 0.3);  
}

.address {
  color: rgb(255, 255, 255); 
}

.telephone,
.telephone a {
  color: rgba(255, 255, 255, 0.7);  
}

.telephone a:hover,
.telephone a:focus {
  color: rgba(255, 255, 255);   
}

.telephone a:active {
  color: rgba(255, 255, 255, 0.3);
}

footer .user-navigation a,
footer .site-navigation a {
  color: rgba(255, 255, 255, 0.7);  
}

footer .user-navigation a:hover,
footer .user-navigation a:focus,
footer .site-navigation a:hover,
footer .site-navigation a:focus {
  color: rgb(255, 255, 255);      
}

footer .user-navigation a:active,
footer .site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);  
}

/*-----Футер(Войти, Сравнить, Корзина)-----*/
.footer-top .login-link,
.footer-top .user-compare,
.footer-top .user-order {
  position: relative;    
}

.footer-top .login-link a {
  padding-left: 27px;
}

/*-----Футер(Войти)-----*/
.footer-top .login-link::before {
  content: "";

  position: absolute;
  width: 13px;
  height: 12px;
  top: 9px;

  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.footer-top .login-link:hover::before,
.footer-top .login-link:focus::before {
  opacity: 0.6;
}

.footer-top .login-link:active::before {
  opacity: 0.3;
}

/*-----Футер(Сравнить)-----*/
.footer-top .user-compare a {
  padding-left: 20px;
}

.footer-top .user-compare::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 10px;
  top: 9px;

  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.footer-top .user-compare:hover::before,
.footer-top .user-compare:focus::before {
  opacity: 0.6;
}

.footer-top .user-compare:active:before {
  opacity: 0.3;
}

/*-----Футер(Корзина)-----*/
.footer-top .user-order a {
 padding-left: 24px;
}

.footer-top .user-order::before {
  content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;

  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.footer-top .user-order:hover::before,
.footer-top .user-order:focus::before {
  opacity: 0.6;  
}

.footer-top .user-order:active:before {
  opacity: 0.3;  
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li {
 margin-right: 55px;  
}

/*.social-list li:last-child {
  margin-right: 0;  
}*/

.social-button {
  color: rgb(255, 255, 255);    
}

footer .decoration-line {
  min-width: 80px;
  background-color: rgb(255, 198, 0);
}

/*-----Отсюда пошли стили для иконок соц.сетей и академии -----*/
.facebook,
.instagramm,
.twitter,
.footer-copyright {
 position: relative;
}

.facebook::before,
.instagramm::before,
.twitter::before {
  content: "";

  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;  
  margin-top: -16px;
  margin-left: -16px;  
  
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  transition: all 0.1s linear;
}

.instagramm::before {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.twitter::before {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.facebook:hover:before,
.facebook:focus:before,
.instagramm:hover::before,
.instagramm:focus::before,
.twitter:hover::before,
.twitter:focus::before,
.footer-copyright:hover::before,
.footer-copyright:focus::before {
  opacity: 0.6;  
}

.facebook:active:before,
.instagramm:active::before,
.twitter:active::before {
 opacity: 0.1;   
}

.footer-copyright::before {
  content: "";

  position: absolute;
  width: 27px;
  height: 35px;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -27px;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.1s linear;
}

.footer-copyright:active::before {
  opacity: 0.3;  
}

/*-----Отсюда пошла форма для отправки письма-----*/
.feedback label {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 18px;
  line-height: 24px;
}

.feedback input[type="text"],
.feedback textarea {
  color: rgb(0, 0, 0);

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;  
}

.feedback input[type="text"]::placeholder,
.feedback textarea::placeholder { 
  color: rgba(0, 0, 0, 0.4);
}

.feedback :-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0.4);  
}

.feedback :-moz-placeholder {
  color: rgba(0, 0, 0, 0.4); 
}

.feedback ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);  
}

/*-----Форма отправки письма-----*/
.write-us {
  color: rgb(0, 0, 0);
  position: fixed;

  top: 30%;
  margin-left: -480px;
  left: 50%;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);

  width: 960px;  
  padding-top: 99px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 92px;  
} 

.fields-wrap {  
  display: flex;
  justify-content: space-between;
}

.fields-wrap .login,
.fields-wrap .email {
 display: flex;
 flex-direction: column;
 margin: 0;
 width: 50%;
 margin-right: 40px;
}

.fields-wrap .email {
  margin-right: auto;  
}

.fields-wrap .login input[type="text"],
.fields-wrap .email input[type="text"] {       
  width: 100%;
  padding: 21px 21px;
  margin-bottom: 35px;
  border: none;    
}

.fields-color{
 background-color: rgba(229, 229, 229, 0.5); 
}

.fields-wrap .login input[type="text"]:hover,
.fields-wrap .email input[type="text"]:hover,
.text-email textarea:hover {
 background-color: rgba(229, 229, 229, 0.8); 
}

.fields-wrap .login input[type="text"]:focus,
.fields-wrap .email input[type="text"]:focus,
.text-email textarea:focus {
 background-color: rgb(255, 255, 255);
 outline: none;
 border: 2px solid rgb(247, 226, 150);
}

.text-email { 
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;  
}

.text-email textarea {
  background-color: rgba(229, 229, 229, 0.5);
  width: 100%;
  padding: 21px 21px;
  resize: none;
  border: none;
}

.feedback-close {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;
  border: 0;  
  background-image: url(../img/modal-close.svg); 
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: all 0.1s linear;
  cursor: pointer; 
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
  outline: none;  
}

.feedback-close:active {
  opacity: 0.3;
  outline: none;  
}

.feedback-send {    
  background-color: transparent;
  border: none;
  
  position: relative;
  padding: 11px 23px;
  z-index: 0;    
}

.feedback-send::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 18px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;
  
  background-color: rgb(240, 197, 46);
}

/*Не работают декор. стили с инпутом, заменил на <button> в разметки,
пока закоментил как лишнее*/
/*.feedback input[type="submit"] {
  text-align: center;
  vertical-align: middle;  
  background-color: transparent;
  border: none;
}*/

.feedback-send:hover::before,
.feedback-send:focus::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.feedback-send:active {
  color: rgba(0, 0, 0, 0.3);  
}

.modal {
  display: none;
  z-index: 1;
}

/*-----Немного анимации-----*/
@keyframes bounce-right {
  0% {transform: translateX(1000px);}
  30% {transform: translateX(-150px);}
  60% {transform: translateX(50px);}
  90% {transform: translateX(-25px);}
  1000% {transform: translateX(0);}
}

.modal-show-right {
  display: block;
  animation-name: bounce-right;
  animation-duration: 0.7s;  
}

@keyframes bounce-left {
  0% {transform: translateX(-1000px);}
  30% {transform: translateX(150px);}
  60% {transform: translateX(-50px);}
  90% {transform: translateX(25px);}
  1000% {transform: translateX(0);}
}

.modal-show-left {
  display: block;
  animation-name: bounce-left;
  animation-duration: 0.7s;  
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}  
}

.modal-error {
  background-color: rgb(237, 181, 181);  
  animation-name: shake;
  animation-duration: 0.7s; 
}





/*-----Отсюда идет все по странице каталога-----*/
.inner-page main {
  width: 1160px;  
  margin: 0 auto;
  /*padding: 0 140px 185px;*/
}

.inner-page .login-link a {
  padding-left: 20px;
}

.page-title {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  /*margin-bottom: 30px; */
}

/*-----Хлебные-крошки-----*/
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-left: 60px;
  /*margin-bottom: 50px;*/
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;	
} 

.breadcrumbs a:hover,
.breadcrubms a:focus {
  color: rgba(0, 0, 0, 0.6);  	
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);  
}

.breadcrumbs li {
  position: relative; 
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  width: 4px;
  height: 7px;
  top: 13px;
  right: -16px;  
 
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumb-current {
 margin-right: 0;  
}

/*-----Отсюда идут стили для фильтра каталога-----*/
.filters {
  /*margin-left: 60px; */
  background-color: rgb(238, 238, 238);
  outline: 1px solid black;
}

.filters h2 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 24px 0;
  margin: 0;
}

.filter {
  width: 200px; 
} 

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;    
  margin-bottom: 10px;
}

.filter legend {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /*margin-bottom: 20px;*/        
}

.filter-scrollbar .filter-wrap {
  border-top: 2px solid black; 
  padding-top: 10px;
  border-bottom: 2px solid black;   
}

.filter-radio .filter-wrap {
  border-top: 2px solid black;
  padding-top: 10px;
  margin-bottom: 20px
}

.filter-scrollbar legend {
  padding-bottom: 15px;  
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgb(219, 219, 219);  
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background-color: rgb(145, 201, 47);
}

.range-controls {
  position: relative;   
}

.range-controls .toggle {
  position: absolute;
  top: -10px;  

  width: 22px;
  height: 22px;
  border: 9px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(207, 207, 207);
  background-color: rgb(171, 171, 171);
  cursor: pointer;    
}

.range-controls .toggle-min {
  left: -8px;
}

.range-controls .toggle-max {
  left: 99px;  
}

.price-controls {
  display: flex;
  margin-top: 5px;
  padding-bottom: 35px;        
}

.price-controls label {
  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin-right: 12px;      
}

.price-controls input {
  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;  
  width: 50px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);     
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 40px;  
}

.filter-option {    
  padding-left: 40px;  
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;

  width: 27px;
  height: 23px;  
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after {
 opacity: 0.6;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;

  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;

  width: 25px;
  height: 25px;
  
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after {
  opacity: 0.6; 
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  cursor: pointer;
}

.filter-input:disabled + label {
  color: rgb(166, 166, 166);	
  opacity: 0.25; 	
}

.filter-input:disabled + label:hover:before {  
  opacity: 1; 
}

/*-----Кнопка показать в фильтре-----*/
.filter-button {
  position: relative;
  padding: 11px 40px;
  z-index: 0; 
  background-color: transparent;
  border: none;   
}

.filter-button::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 10px;
  top: 18px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;
  
  background-color: rgb(240, 197, 46);
}

.filter-button:hover::before,
.filter-button:focus::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-----Сортировка-----*/
.sorting {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;  
  margin-bottom: 60px;

  outline: 1px solid black;
}

.sorting h2 {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  padding: 24px 0;
  margin: 0;
  margin-right: 55px;   
}

.sort-wrap {
  display: flex;
  justify-content: space-between;  
  flex-grow: 1;
}

.selection a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;  
}

.selection a:hover,
.selection a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.selection a:active {
 color: rgb(0, 0, 0);
}

.current-selection a {
   color: rgb(0, 0, 0);
}

.sort-wrap ul {  
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;    
}

.selection li {
  margin-right: 30px;  
}

.selection li:last-child {
  margin: auto;
}

.sorting-icon li {
  width: 11px;
  height: 10px;
  margin-right: 19px;
}

.sorting-icon li:last-child {
   margin-right: auto;
}

.icon-up a {
  color: transparent;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  opacity: 0.2;  
}

.icon-up a:hover,
.icon-down a:hover,
.icon-up a:focus,
.icon-down a:focus {
  opacity: 0.4;
}

.icon-up a:active,
.icon-down a:active {
  opacity: 1;
}

.icon-down a {
  color: transparent;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;  
}

/*-----Отсюда идут стили для карточек товара-----*/
.catalog-columns {
  display: flex;
  justify-content: space-between;  
}

.catalog {
  width: 760px;   

  outline: 1px solid black;    
}

.catalog-item {
  width: 360px; 
  /*margin-bottom: 125px;     */
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  list-style: none;
  margin: 0;
  padding: 0;   
}

.product-wrap {
  position: relative;
  z-index: 0; 
}

.product-wrap img:hover {
  opacity: 0.7;
  -webkit-filter: grayscale(100%); 
  -webkit-filter: grayscale(1); 
  -moz-filter: grayscale(100%); 
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); 
  filter: grayscale(100%); 
  filter: gray;
  /*transition: all 0.1s linear;*/
}

.product-button-wrap {  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -40px;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  z-index: 1;  
}

.product-wrap:hover .product-button-wrap {
  display: flex;
}

.product-title-wrap {
  display: flex;
  justify-content: space-between;    
}

.product-title-wrap a {
  color: rgb(0, 0, 0);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  outline: 1px solid black;  
}

.item-price {
  color: rgb(0, 0, 0);
  
  font-family: "Gilroy Light", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  white-space: nowrap;
}

.add-cart {
  position: relative;
  z-index: 0;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 23px;  
}

.add-cart::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 16px;
  left: 0px;
  z-index: -1;
  transition: all 0.1s linear;
  
  background-color: rgb(240, 197, 46);
}

.add-cart:hover::before {
  height: 100%;
  top: 0px;

  background-color: rgb(240, 197, 46);
}

.add-cart:active {
  color: rgba(0, 0, 0, 0.3);    	
}

.add-compare {
  color: rgba(0, 0, 0, 0.5);

  font-family: "Open Sans Light", Arial, sans-serif;
  font-style: normal;  
  font-size: 13px;
  line-height: 36px;
  font-weight: 300; 
  text-align: center;
  vertical-align: middle;  
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;    		
}

.add-compare:hover,
.add-compare:focus {
  color: rgb(0, 0, 0);  	
}

.add-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.flag span {
  color: rgba(0, 0, 0, 0.2);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  position: absolute;
  top: 17px;
  left: 12px;  
}

.flag {
  position: absolute;
  top: 27px;
  right: 27px;    
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.2); 
  border-radius: 50%;
  display: none;  
}

.flag-new {
  display: block;
}

/*-----Пагинация------*/
.pagination-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  background-color: rgb(238, 238, 238);  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  /*height: 70px;*/    
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);

  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;

  display: flex;
  /*padding: 25px 30px;*/  

  outline: 1px solid black;
}

.pagination-item-prev a,
.pagination-item-next a,
.pagination-item-current a {
  color: rgb(0, 0, 0);
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
  color: rgb(0, 0, 0);
}

.pagination-item-prev a:hover,
.pagination-item-prev a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
 background-color: rgb(217, 217, 217);
 color: rgb(0, 0, 0); 
}

.pagination-item-prev a:active,
.pagination-item-next a:active {
  background-color: rgb(217, 217, 217);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: rgb(0, 0, 0);
}
